$icon-font-path: "/fonts/";

@import '../bower_components/sass-bootstrap/lib/bootstrap';
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Responsive: Portrait tablets and up */
/* Chris: commented to enable widescreen
//@media screen and (min-width: 768px) {
//    .container {
//        max-width: 730px;
//    }
//
//    /* Remove the padding we set earlier */
//    .header,
//    .marketing,
//    .footer {
//        padding-left: 0;
//        padding-right: 0;
//    }
//    /* Space out the masthead */
//    .header {
//        margin-bottom: 30px;
//    }
//    /* Remove the bottom border on the jumbotron for visual effect */
//    .jumbotron {
//        border-bottom: 0;
//    }
//}
