@import "vendor/web-fonts";
@include web-fonts(Roboto Slab);

// partials
@import "partials/projects";
@import "partials/hud-toolbar";

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

body {
  background-color: #F5F8F5;
  //  background-image:url('../images/ricepaper.png');
  //background-image:url('../images/broken_noise.png');
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 18px;

  // minimum supported widths
  min-width: 460px; /* suppose you want minimun width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width:460px;             /* As IE ignores !important it will set width as 1000px; */

  // to put the content below the nav
  padding-top: 50px;

  // leave space for the hud-toolbar in the 'translate' state
  // TODO - apply this style only in the translate state
  padding-bottom: 50px;
}

.blue {
  background-color: #99AFCC;
}
.grey {
  background-color: #73B0FF;
}

#login-wrapper {
  background-color: #87cefa;
}

.signup-well {
  padding: 19px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.form-control { margin-bottom: 10px; }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall {
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #FFFFFF;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-title {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
}
.profile-img {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help {
  margin-top: 10px;
}
.new-account {
  display: block;
  margin-top: 10px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.dropdown-toggle {
  cursor: pointer;
}

.modal-dialog {
  width: 80%;
  margin: auto;
  margin-top: 60px;
  padding: 0;
}

.slate {
  background-color: currentcolor;
}

.margin-left {
  display: inline-block;
}

// upward pointing triangle
.arrow-up {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #87cefa;
}
.edit-area-wrapper {
  margin-top: 16px;
}

/* style file input as a button (with bootstrap 3) */
.btn-file {
  margin-top: 12px;
  position: relative;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #696969;
  &:hover {
    background-color: darken(#f5f5f5, 20%);
  }
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* end: style file input as button */

/* styles for the project view */
.inline-header {
  display: inline-block;
  vertical-align: baseline;
}

.project-list-background {
//  background-color: beige;
}

// TODO: this is problematic with bootstrap's grid system
.col-centered{
  float: none;
  margin: 0 auto;
}

.file-input {
  margin-top: 20px;
}

.user-info {
  margin-top: 10px;
}

/* End project view styles */

/* styles for the editing view */
// navbar toggle toolbar
.selected {
  //  color: pink;
  background-color: darker(pink) !important;
}

/* info toolbar */
.info-toolbar {
  //  position: absolute;

}

/* tabs */
ul.nav-tabs > li {
  font-size: small;
}

/* to highlight matches from the concordancer */
.searchmatch {
  font-weight: bold;
}

/* glossary search button */
.glossary-search {
  font-size: 10px;
}


// highlight recent changes in the marker layer
.changed_range {
  background-color: pink;
  position: absolute;
  z-index: 5;
}

.move-left {
  left: -30px;
}

%ace-editor-height {
  min-height: 102px;
}

.source, .target {
  margin-top: 12px;
}

.content-card {
  @extend %ace-editor-height;
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 3px;
  line-height: normal;
  font-size: 18px;
  width:100%;
  // leave a little space between the two
  //  overflow-y: hidden;
}

.cat-glyph {
  font-size: 10px;
}

.morph-glyph {
  font-size: 10px;
  background-color: orange;
}
.mode-glyph {
  background-color: grey;
}

.reorder-toolbar {
  button {
    width: 34px;
    font-size: 8px;
    margin: 0;
    border: 0;
    border-radius: 2px !important;
    span {
      margin-left: 0;
    }
  }
  //  padding: 0;
  top: -2px;
}



%crosshair {
  cursor: crosshair;
  background-color: green;
}

.surface-form {
  padding-left: 10px !important;
}

.info-popover {
  position: absolute;
  div.btn {
    opacity: 1.0 !important;
  }
  //  background-color: pink;
}

.source-token {
  &:hover {
    background-color: darken(#f5f5f5, 20%);
  }
  // styling tooltips: http://stackoverflow.com/questions/15383440/css-styling-bootstrap-tooltips-arrow
  // http://www.jeffmould.com/2013/10/30/style-bootstrap-3-0-tooltips/
  .tooltip-inner {
    background: #f00;
    color: #f00;
  }
}

/* Segment Area Styles */
.segment {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
.segment.pending {
  //  border: 1px dotted #D48651;
}
.segment.completed {
  //  border: 1px dotted #90ee90;

}

.segment-index-label {
  color: #708090;
  font-size: small;
}
.segment-finished-target {
  background-color: #90ee90;
  padding: 10px;
  font-size: 18px !important;
};

.frame {
  border-style: solid;
  border-width: 1px;
};

/* Ace Editor Styles */
.ace_editor {
  line-height: normal;
  min-height: 70px;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-weight: normal;
  font-style: normal;
  padding: 10px;
}

.ace_editor div {
  font: inherit!important;
}

// don't highlight the active line
.ace_active-line {
  background-color: transparent !important;
}

.ace_selected_token {
  background-color: LightGreen;
}

/* hack to hide the scrollbars in the ace editor */
.ace_scrollbar {
  //    display: none !important;
}

/* TODO: use marker.renderer to find a solution that can handle future edits */
.ace_marker-layer .was-selected {
  background-color: red;
  position: absolute;
  z-index: 5;
  pointer-events: auto;
  cursor: pointer;
}

.ace_marker-layer .was-selected:hover {
  @extend %crosshair;
}

/* End Ace Editor Styles */

/* media queries for different screen sizes */
/* bootstrap has a breakpoint at 780 */
@media (max-width: 780px) {
  .bottom-margin {
    margin-bottom: 8px;
  }
}

.inline {
  display: inline-block;
}

.word {
  display: inline-block;
  text-align: center;
  min-width: 50px;
  border: 1px dotted orange;
}

.word:hover {
  background-color: pink;
}

.gap {
  display: inline-block;
  width: 20px;
}

.drop-hover {
  background-color: orange;
  width: 20px;
}

/* styles for the toolbars */
.tabset {
}

.row-padded {
  margin-bottom: 6px;
}

.tab-pane {
  background-color: white;
  min-height: 70px;
  input {
    width: 60%;
  }
  button {
    margin-left: 6px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .search-result {
    &:hover {
      background-color: coral;
    }
    padding: 10px;
  }

  .query-box {
    padding-left: 10px;
  }
}

.lang-select {
  background-color: grey;
  &:active {
    background-color: blue;
  }
}

/* animations */
/* as the element is hidden */
.slide-in.ng-hide-add,
.slide-in.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;

}
/* as the element is shown */
.slide-in.ng-hide {
  opacity:0;
}


/* where is this used? */
.sample-show-hide.ng-hide-add, .sample-show-hide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.sample-show-hide.ng-hide-add.ng-hide-add-active,
.sample-show-hide.ng-hide-remove {
  opacity:0;
}

.sample-show-hide.ng-hide-add,
.sample-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

@-webkit-keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

