//@import "vendor/web-fonts";
//@include web-fonts(Roboto Slab);

// partials
@import "partials/login";
@import "partials/projects";
@import "partials/translate";
@import "partials/widget-area";
@import "partials/segment";
@import "partials/nav-toolbar";
@import "partials/side-menu";
@import "partials/typeahead";
@import "partials/translation-selector";
@import "partials/post-editor-menu";
@import "partials/qe-score";

@font-face {
  font-family: clearsans;
  src: url(fonts/ClearSans-Thin.woff);
}

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

// WORKING: DCU experiments -- disable pointer events outside active area
//html {
//  overflow: scroll;
//  overflow-x: hidden;
//  pointer-events: none;
//}
//::-webkit-scrollbar {
//  width: 0px;  /* remove scrollbar space */
//  background: transparent;  /* optional: just make scrollbar invisible */
//}
///* optional: show position indicator in red */
//::-webkit-scrollbar-thumb {
//  background: #FF0000;
//}

//div {
//  pointer-events: auto;
//}

body {
//  font-family:source-code-pro, Courier, Monaco, Menlo, "Ubuntu Mono", Consolas, monospace;
//  font-family:Menlo, monospace;
  font-family: clearsans, monospace;
  font-size: 18px;

  // minimum supported widths
  min-width: 460px; /* suppose you want minimun width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width:460px;             /* As IE ignores !important it will set width as 1000px; */

  // to put the content below the nav
  padding-top: 50px;

}

.doc-content {
  max-width: 864px;
  margin: auto;
}

.grey {
  background-color: #99AFCC;
}
.blue {
  background-color: #73B0FF;
}
.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.need-help {
  margin-top: 10px;
}
.new-account {
  display: block;
  margin-top: 10px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.dropdown-toggle {
  cursor: pointer;
}

.modal-dialog {
  width: 80%;
  margin: auto;
  margin-top: 60px;
  padding: 0;
}

.margin-left {
  display: inline-block;
}

// upward pointing triangle
.arrow-up {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid #87cefa;
}
.edit-area-wrapper {
  background-color: #ffffff;
}

/* style file input as a button (with bootstrap 3) */
.btn-file {
  margin-top: 12px;
  position: relative;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #696969;
  &:hover {
    background-color: darken(#f5f5f5, 20%);
  }
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* end: style file input as button */

/* styles for the project view */
.inline-header {
  display: inline-block;
  vertical-align: baseline;
}

.project-list-background {
//  background-color: beige;
}

.file-input {
  margin-top: 20px;
}

.user-info {
  margin-top: 10px;
}

/* End project view styles */

/* styles for the editing view */
.selected {
  //  color: pink;
  background-color: darker(pink) !important;
}

/* tabs */
ul.nav-tabs > li {
  font-size: small;
}


// highlight recent changes in the marker layer
.changed_range {
  background-color: pink;
  position: absolute;
  z-index: 5;
}

.move-left {
  left: -30px;
}

.cat-glyph {
  font-size: 10px;
}

.morph-glyph {
  font-size: 10px;
  background-color: orange;
}
.mode-glyph {
  background-color: grey;
}

%crosshair {
  cursor: crosshair;
  background-color: green;
}

.surface-form {
  padding-left: 10px !important;
}

.info-popover {
  position: absolute;
  div.btn {
    opacity: 1.0 !important;
  }
}

.source-token {
  &:hover {
    background-color: darken(#f5f5f5, 20%);
  }
  // styling tooltips: http://stackoverflow.com/questions/15383440/css-styling-bootstrap-tooltips-arrow
  // http://www.jeffmould.com/2013/10/30/style-bootstrap-3-0-tooltips/
  .tooltip-inner {
    background: #f00;
    color: #f00;
  }
}


/* media queries for different screen sizes */
/* bootstrap has a breakpoint at 780 */
@media (max-width: 780px) {
  .bottom-margin {
    margin-bottom: 8px;
  }
}

@-webkit-keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

