/* make widescreen */


/* no rounded corners allowed */
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
  background: LightGrey;
}

h3 {
  padding: 4px 0 4px 0;
}

%ace-editor-height {
  height: 300px;
}

.content-card {
  @extend %ace-editor-height;
  //background-color: white;
}
span.cat-glyph {
  font-size: 30px;
  vertical-align: middle;
}
.seg-finished {
  margin-right: 20px;
}

.translation-unit {
  background-color: whitesmoke;
  box-shadow: 0 0 10px black;
  padding:0 10px 0 10px;
}

.edit-area-wrapper {
  border: 1px dotted #808080;
}

/* Drop zone pseudo class */
%drop {
  height: 50px;
  width: 100px;
}

.drop-box {
  @extend %drop;
  border: 5px dashed #DDD;
  height: 200px;
  width: 200px;
}
.drop-box.dragover {
  border: 5px dashed yellow;
  background-color: #ffff00;
}

/* % percent sign prefixes sass pseudo classes */
%foo {
  cursor: crosshair;
  background-color: green;
}

/* the div which actually contains the source - what is overriding height? */
.source {
  background-color: white;
  font-size: 20px;
  height: 200px;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  overflow: hidden;
}

.target {
  background-color: white;
}

.edit-area {
  margin-top: 10px;
  padding-left: 4px;
}

/* Ace Editor Styles */
.ace_editor { height: 200px; }

.ace_selected_token {
  background-color: LightGreen;
}

/* hack to hide the scrollbars in the ace editor */
.ace_scrollbar {
    display: none !important;
}

/* TODO: use marker.renderer to find a solution that can handle future edits */
.ace_marker-layer .was-selected {
  background-color: red;
  position: absolute;
  z-index: 5;
  pointer-events: auto;
  cursor: pointer;
}

.ace_marker-layer .was-selected:hover {
  @extend %foo;
}

/* End Ace Editor Styles */

.inline {
  display: inline-block;
}

.word {
  display: inline-block;
  text-align: center;
  min-width: 50px;
  border: 1px dotted orange;
}

.word:hover {
  background-color: pink;
}

.gap {
  display: inline-block;
  width: 20px;
}

.drop-hover {
  background-color: orange;
  width: 20px;
}


/* animations */

.sample-show-hide.ng-hide-add, .sample-show-hide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.sample-show-hide.ng-hide-add.ng-hide-add-active,
.sample-show-hide.ng-hide-remove {
  opacity:0;
}

.sample-show-hide.ng-hide-add,
.sample-show-hide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}


