.hud-toolbar {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: darkgray;
  z-index: 100;
  .centered {
    margin:auto;
    display: block;
    width: 26px;
  }
}