nav {
 background-color: #259b24 !important;
 a {
  color: #ffffff !important;
 }
}


.fixed-toolbar {
  position: fixed !important;
  background-color: #259b24;
}

//element.style {
//touch-action: pan-y;
//-webkit-user-select: none;
//-webkit-user-drag: none;
//-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//}
