.post-editor-menu {
  //display: none;
  position: absolute;
  background: pink;
  //text-wrap: css
  float: left;
  white-space: nowrap;
}
.tooltip-span {
  color: blue;
  white-space: pre !important;
}

$posteditor-color: #FFFFFF;

.post-editor {
  //  make sure we fill our parent
  width: 100%;
  height: 100%;
  background-color: $posteditor-color;
  //  box-sizing: border-box;
}

.post-editor > textarea {
  //  make sure we fill our parent
  resize: none;
  width: 100%;
  height: 100%;
  background-color: $posteditor-color;
  //  box-sizing: border-box;
}

