// project icon size
$icon-size: 28px;
$bold: 800;

.project-title {
  text-align: left;
  font-weight: $bold;
  font-family: Roboto Slab, Roboto, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.project-icon {
  font-size: $icon-size;
}