// project icon size
$icon-size: 28px;
$bold: 800;

.project-title {
  text-align: left;
  font-weight: $bold;
//  font-family: Roboto Slab, Roboto, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-family: clearsans;
}

.project-icon {
  font-size: $icon-size;
}

.create-project-button {
  width: 50px;
  height: 50px;
  // we have to use important because the material design styles override this
  border-radius: 50% !important;
  margin: 8px !important;
  font-size: $icon-size;
}

// Project Creation

// a div which slides down to let the user paste in text


.drop-box {
  padding: 5px;
  border: 5px dashed blue;
  &:hover {
    border: 5px dashed yellow;
  }
}

.drop-box.dragover {
  border: 5px dashed yellow;
  background-color: lightgrey;
}

span.drop-message {
  display: inline-block;
  margin-top: 10px;
}
span.drop-text {
  font-size: 12px;
}

.close-button {
  md-button {
    font-size: $icon-size !important;
  }
  :hover {
    background-color: red !important;
  }
}

//project list
.project-view-button, .project-translate-button {
  border: 1px solid #000000;
}
