$qescore-color: #73B0FF;

qe-score > div {
  position: relative;
  height: 100%;
  width: 100%;
}

.qe-score {
  background: $qescore-color;
  //opacity: 0.5;
  .numerical-score {
    vertical-align: middle;
    opacity: 1.0;
    background: transparent;
    font-size: 60px;
    font-weight: bold;
  }
}

.qe-score-box {
  width: 100px;
  font-size: 36px;
  font-weight: bold;
  border: 3px solid $qescore-color;
  //padding: 4px;
  //padding-right: 8px;
  //padding-left: 8px;
  text-align: center;
}

.animatebackground {
  animation-delay: 1s;
  animation: pulsecolor 2.5s;
}

@keyframes pulsecolor {
  0% {
    background-color: $qescore-color;
  }
  100% {
    background-color: white;
  }
}

//.post-editor-menu {
//  border: 1px solid;
//  padding: 2px;
//  position: absolute;
//  background: white;
//  float: left;
//  white-space: nowrap;
//
//  .post-editor-action {
//    &:hover {
//      background-color: lightgray !important;
//    }
//  }
//}
//.tooltip-span {
//  color: white;
//  background-color: black;
//  white-space: pre !important;
//}
//
//.postedit-mode-sheet {
//  position: absolute;
//  color: red;
//  height: 20px;
//  bottom: 0;
//  width: 100%;
//  z-index: 5000;
//}

//.post-editor > textarea {
//  //  make sure we fill our parent
//  resize: none;
//  width: 100%;
//  height: 100%;
//  background-color: $posteditor-color;
//  //  box-sizing: border-box;
//}

