.segment-muted-text {
  color: #708090;
  font-size: small;
  margin-bottom: 0;
}
.translation-buttons {
  margin:0;
  padding:0;
}

.segment {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.content-card {
  min-height: 200px;
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 3px;
  line-height: normal;
  font-size: 18px;
}

.activeshadow {
  .content-card {
    box-shadow: 4px 4px 2px #888;
  }
  .ace_editor {
    box-shadow: 4px 4px 2px #888;
  }
}
.segment.pending {
  //  border: 1px dotted #D48651;
}
.segment.completed {
  //  border: 1px dotted #90ee90;

}

.segment-finished-target {
  background-color: #90ee90;
  height: 200px;
  padding: 10px;
  overflow: hidden;
  font-size: 18px !important;
};

