.ace_content {
  margin-top: 0 !important;
}

.segment-muted-text {
  color: #708090;
  font-size: small;
  margin-bottom: 0;
}
.translation-buttons {
  margin:0;
  padding:0;
}

.segment {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

.content-card {
  min-height: 200px;
  background-color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

.activeshadow {
  .content-card {
    box-shadow: 4px 4px 2px #888;
  }
  .ace_editor {
    box-shadow: 4px 4px 2px #888;
  }
}

.segment-finished-target {
  background-color: #90ee90;
  height: 200px;
  padding: 10px;
  overflow: hidden;
  font-size: 18px !important;
};

.segment-controls {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* Ace Editor Styles */
.ace_editor {
  // sync min-height with content-card
  min-height: 200px;
  // we need to target the <div> to apply styles to the ace editors
  div {
    line-height: 1.4 !important;
    //    font-style: normal !important;
    //    font-weight: 400 !important;
  }
}

// don't highlight the active line
.ace_active-line {
  background-color: transparent !important;
}

.ace_selected_token {
  background-color: LightGreen;
}

/* TODO: use marker.renderer to find a solution that can handle future edits */
.ace_marker-layer .was-selected {
  background-color: red;
  position: absolute;
  z-index: 5;
  pointer-events: auto;
  cursor: pointer;
}

.ace_marker-layer .was-selected:hover {
  @extend %crosshair;
}

/* End Ace Editor Styles */
