$typeahead-color: #FFFFFF;

.typeahead-editor {
//  make sure we fill our parent
  width: 100%;
  height: 100%;
  background-color: $typeahead-color;
//  box-sizing: border-box;
}

.typeahead-editor > textarea {
  //  make sure we fill our parent
  resize: none;
  width: 100%;
  height: 100%;
  background-color: $typeahead-color;
//  box-sizing: border-box;
}

