// styles for the widget area (holds the TM, concordancer, etc...)
.widget-area {
    height: 200px;
    border: 1px solid lightgrey;
    md-tabs-ink-bar {
      color: deeppink !important;
      background: deeppink !important;
    }
}

/* to highlight matches from the concordancer */
.searchmatch {
  font-weight: bold;
}

/* glossary search button */
.glossary-search {
  font-size: 20px;
  border-radius: 50% !important;
  margin: 4px;
}

.lang-select {
  background-color: grey;
  &:active {
    background-color: blue;
  }
}

.widget-toolbar.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all ease 0.2s;
  transition:all ease 0.2s;
}

.widget-toolbar.ng-hide {
  line-height:0;
  opacity:0;
//  padding:0 10px;
}

