// styles for the widget area (holds the TM, concordancer, etc...)
.widget-area {
  .tab-content {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .widget-wrapper {
    padding: 0;
  }
}



.tab-pane {
  background-color: white;
  min-height: 70px;
  input {
    width: 60%;
  }
  button {
    margin-left: 6px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .search-result {
    &:hover {
      background-color: coral;
    }
    padding: 10px;
  }

  .query-box {
    padding-left: 10px;
  }
}

.lang-select {
  background-color: grey;
  &:active {
    background-color: blue;
  }
}

.widget-toolbar.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all ease 0.2s;
  transition:all ease 0.2s;
}

.widget-toolbar.ng-hide {
  line-height:0;
  opacity:0;
//  padding:0 10px;
}

