<div layout="column" ng-controller="AceCtrl" >

  <div layout="row">
    <!-- the appearance of the segment when the user has indicated that it is complete -->
    <div flex ng-show="getSegmentState($index) === 'translated'" class="segment-finished" ng-click="activate($index)">
      <p>{{segment.target}}</p>
    </div>

    <!-- the editing panel and controls -->
    <div flex ng-show="getSegmentState($index) === 'initial'" ng-click="activate($index)">
      <!--the translation resource selection component-->
      <!-- when opened, it animates to cover its container component-->
      <md-content>
      <div ng-show="showTranslations" class="cssSlideUp cover-all">
        <translation-selector
          on-select="setTargetValue"
          selector-options="sampleOptions"
          ></translation-selector>
      </div>
      <!--TODO: add the translation selector component - change css to fit with target area css-->
      <div ui-ace="{onLoad: aceLoaded}" ng-model="segment.target"></div>
        </md-content>
    </div>
  </div>

</div>

<!-- the enhanced typeahead component -->
<!--<div ng-model="selected" place-after="ace_cursor" typeahead-trigger-function='currentWordPrefix()' typeahead-on-select='overwritePrefix($item)' flex-typeahead="state for state in getLocation($viewValue) | limitTo:8" typeahead-loading="true"></div>-->
