<md-dialog>

  <div layout="row" layout-align="end" class="close-button">
    <md-button layout-align="center center" class="md-raised md-warn" ng-click="closeDialog()">
      <i class="ion-android-close"></i>
    </md-button>
  </div>

  <md-content layout="column" layout-align="center center">
    <h3>Create a New Translation Project</h3>
    <md-divider></md-divider>

    <!--TODO: remove this section in favor of toast messages-->
    <!--<div class="alert alert-danger slide-in" ng-show="parser.parsingError && !fileAdded">-->
    <!--Error: The uploaded file is not a valid XLIFF file.-->
    <!--</div>-->

    <form role="form">
      <div layout="column" layout-align="center start" layout-padding class="form-group">
        <input flex type="text" class="form-control" id="projectName" ng-model="name" />
      </div>
    </form>
    <md-divider></md-divider>
    <div>
      <div layout="column" layout-padding layout-align="center center">
        <div
          layout="column"
          layout-align="center center"
          class="drop-box"
          ng-file-drop="onFileSelect($files);"
          ng-file-drop-available="dropSupported=true"
          >
            <div><span class="drop-message drop-text">Drag in an XLIFF or a text file</span></div>
            <div><span class="glyphicon glyphicon-plus drop-text"></span></div>
        </div>
        <h4 class="md-warn">OR</h4>
        <div>
          <label>Choose a File
            <!--<md-button>-->
            <input class="file-input btn btn-primary" type="file" ng-file-select="onFileSelect($files)" />
            <!--</md-button>-->
          </label>
        </div>
      </div>

      <div layout="column" layout-align="center center">
          <div
            layout="row"
            layout-align="center center"
            layout-padding
            ng-repeat="f in selectedFiles"
          >
            <div flex>{{f.name}} - size: {{f.size}}B - type: {{f.type}}</div>
            <div><i ng-show="documentLoading" class="icon ion-loading-c"></i></div>
            <div>
              <md-button
                ng-click="create(); fileAdded = false;"
                class="md-primary"
                >
                Create Project
              </md-button>
            </div>
          </div>
      </div>
      <md-divider></md-divider>

      <h3>Or click one of these testing files:
        <a ng-repeat='testfile in sampleFiles'
           ng-click="createFromURL(testfile.url)">
          {{testfile.name}}
        </a>
      </h3>
    </div><!-- end upload area -->
  </md-content>
</md-dialog>
