<md-dialog>

  <div layout="row" layout-align="end" class="close-button">
    <md-button layout-align="center center" class="md-raised md-warn" ng-click="closeDialog()">
      <i class="ion-android-close"></i>
    </md-button>
  </div>

  <md-content layout="column" layout-align="start center">
    <div class="text-muted">Create a New Translation Project</div>
    <md-divider></md-divider>
    <div>
      <div layout="column" layout-padding layout-align="center center">
        <div
          layout-fill
          layout="column"
          layout-align="center center"
          class="drop-box"
          ng-file-drop="onFileSelect($files);"
          ng-file-drop-available="dropSupported=true"
          >
          <div><span class="drop-message">Drag in an XLIFF or a text file</span></div>
          <div class="file-upload-glyph glyphicon glyphicon-plus">
            <input type="file" ng-file-select="onFileSelect($files)" />
          </div>
        </div>
        <md-button class="md-primary" ng-click="showAdvanced($event)">
          Create a project from raw text
        </md-button>
      </div>

      <div
        layout="column"
        layout-align="center center"
        >

        <!--TODO: return the supported languages from the server-->
          <md-select placeholder="source language" ng-model="sourceLang">
            <md-option
              ng-repeat="lang in supportedLangs"
              value="{{lang}}"
              >
              {{lang}}
            </md-option>
          </md-select>
          <md-select placeholder="target language" ng-model="targetLang">
            <md-option
              ng-repeat="lang in supportedLangs"
              value="{{lang}}"
              >
              {{lang}}
            </md-option>
          </md-select>

        <form role="form">
          <div layout="column" layout-align="center start" layout-padding class="form-group">
            <input flex type="text" placeholder="Enter a project name" class="form-control" id="projectName" ng-model="name" />
          </div>
        </form>
      </div>

      <div layout="column" layout-align="center center">
          <div
            layout="column"
            layout-align="center center"
            layout-padding
            ng-repeat="f in selectedFiles"
          >
            <!--<div flex>{{f.name}} - size: {{f.size}}B - type: {{f.type}}</div>-->
            <div ng-show="name" flex>Project Name: {{name}}</div>
            <div ng-show="!name" flex>Please give your project a name</div>

            <div><i ng-show="documentLoading" class="icon ion-loading-c"></i></div>
            <div>
              <md-button
                ng-disabled="!name || !pending.document"
                ng-click="create(); fileAdded = false;"
                class="md-primary"
                >
                Create Project
              </md-button>
            </div>
          </div>
      </div>
      <md-divider></md-divider>

    <div>Choose A Testing File</div>

    <div ng-repeat='testfile in sampleFiles'>
      <a
         ng-click="createFromURL(testfile.url, testfile.name, testfile.configuration)">
        {{$index}}: {{testfile.name}}
      </a>
      <md-divider></md-divider>
    </div>
    </div>
    </div><!-- end upload area -->
  </md-content>
</md-dialog>
