<!-- create the project management interface -->
<section ng-controller="ProjectCtrl" layout="column" layout-fill flex class="doc-content">

    <div layout="column" flex layout-align="center center">
      <!--TODO - replace the create project button with something similar to this-->
      <!--<md-button class="md-fab md-fab-top-left left" aria-label="Insert Drive">-->
        <!--<md-icon icon="/img/icons/ic_insert_drive_file_24px.svg" style="width: 24px; height: 24px;"></md-icon>-->
        <!--<md-tooltip md-visible="demo.showTooltip">-->
          <!--Insert Drive-->
        <!--</md-tooltip>-->
      <!--</md-button>-->
      <md-button
        flex
        class='md-raised create-project-button md-primary'
        ui-sref="projects.create"
      >
        <i class="ion-ios7-plus-outline"></i>
      </md-button>
  </div>

  <md-content flex class="md-padding">
    <div ng-init="find()" layout="column" class="doc-content">
      <md-list>
        <md-item>
          <menu-item
            ng-repeat="project in projects"
            project-name="project.name"
            project-state="project.projectState"
            project-created="project.created"
            project-creator="project.creator.username"
            project-id="project._id"
            ></menu-item>
        </md-item>
      </md-list>
    </div>
  </md-content>

</section>
