<div class="modal-header">
    <h3 class="modal-title">Find and replace</h3>
</div>
<div class="modal-body">

    <div class="input-group">
        <span class="input-group-addon">Text</span>
        <input type="text" class="form-control" ng-model="data.original" placeholder="Original text...">
    </div>

    <div class="input-group">
        <span class="input-group-addon">Replace</span>
        <input type="text" class="form-control" ng-model="data.change" placeholder="Modified text...">
    </div>

    <div class="input-group">
      <span class="input-group-addon">
        <input type="checkbox" ng-model="tokensOnly" ng-init="tokensOnly=true">
      </span>
        <input type="text" class="form-control" value="Apply only to complete words">
    </div><!-- /input-group -->

    <p ng-show="tokensOnly">The words in <em>Text</em> will be replaced by the words in <em>Replace</em> only in the segments that
    are not complete. This only applies to complete words.</p>

    <p ng-hide="tokensOnly">The characters in <em>Text</em> will be replaced by the characters in <em>Replace</em> only in the segments that
        are not complete.</p>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="apply()">Apply</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>