<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pearl</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<button type="button" class="btn btn-default navbar-btn">Sign in</button>-->
            <ul class="nav navbar-nav">
                <li class="active"><a>Projects</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Actions<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="saveJSON()">Output JSON Log</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="saveXLIFF()">Download document</a></li>
                    </ul>
                </li>
                <li><a ng-click="openHelp()">Help</a></li>
                <li><a ng-href="{{url}}/logger/session/{{session.sessionId}}" target="_blank">Session: {{session.sessionIdShort}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Link</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="toggleSmartButtons()">Show/hide buttons</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>