<md-toolbar md-scroll-shrink="true">
  <div layout="horizontal" class="md-toolbar-tools md-toolbar-tools-top top-toolbar">
    <a snap-toggle><md-button ><i class="ion-navicon-round" style="font-size: large;"></i></md-button></a>

    <!-- fill up the space between left and right area -->
    <span flex></span>
    <!-- show the toolbar -->
    <md-button
            ng-click="visible.toolbar=!visible.toolbar"
            ng-show="$state.current.name === 'projects.translate'"
            tooltip="show the toolbar"
            tooltip-placement="bottom"
            ng-class="{selected: visible.toolbar}"
    >
      <i class="ion-wrench"></i>
    </md-button>
    <md-button
      ng-click="showGridBottomSheet()"
      ng-show="$state.current.name === 'projects.translate'"
      tooltip="show the translation project options"
      tooltip-placement="bottom"
      ng-class="{selected: visible.toolbar}"
    >
      <i class="ion-android-download"></i>
    </md-button>
    <md-button
      ng-click="showCheatSheet()"
      ng-show="$state.current.name === 'projects.translate'"
      tooltip="show the translation project options"
      tooltip-placement="bottom"
      ng-class="{selected: visible.toolbar}"
      >
      <i class="ion-android-download"></i>
    </md-button>
    <!-- show the help -->
  </div>
</md-toolbar>
