<div layout="column" class="target-area" >
    <!--segment-finished-->
    <!-- the editing panel and controls -->
    <div flex ng-show="getSegmentState($index) === 'initial'" ng-click="activate($index)">

      <!--ALL TARGET AREA COMPONENTS BELONG HERE-->
      <!--The component that is currently active is controlled by widgets.activeComponent on the parent scope-->

      <!-- PLAINTEXT -->
      <div class="cssSlideUp"
           ng-show="widgets.activeComponent === 'plaintextEditor'"
      >
        <plaintext-editor
                source-segment="segment.source"
                target-segment="segment.target"
                source-lang="{{document.sourceLang}}"
                target-lang="{{document.targetLang}}"
                active-component="widgets.activeComponent"
                is-active="isActive.active"
        ></plaintext-editor>
      </div>

        <!-- Post Editor -->
        <!--<div class="cssSlideUp"-->
        <!--ng-show="widgets.activeComponent === 'postEditor'"-->
        <!--&gt;-->
        <!--<post-editor-->
        <!--target-segment="segment.target"-->
        <!--is-active="isActive.active"-->
        <!--log-action="logAction(action, data)"-->
        <!--&gt;</post-editor>-->
        <!--</div>-->

      <!-- editor with markup for word-level QE  -->
      <div class="cssSlideUp"
        ng-show="widgets.activeComponent === 'wordLevelQeEditor'"
      >
        <word-level-qe-editor
          source-segment="segment.source"
          target-segment="segment.target"
          source-lang="{{document.sourceLang}}"
          target-lang="{{document.targetLang}}"
          configuration=""
          is-active="isActive.active"
        ></word-level-qe-editor>
      </div>

      <!--Commented below here for QE score experiments  -->
      <!-- TYPEAHEAD -->
      <!--<div class="cssSlideUp"-->
           <!--ng-show="widgets.activeComponent === 'typeaheadEditor'"-->
        <!--&gt;-->
        <!--<typeahead-editor-->
          <!--target-segment="segment.target"-->
          <!--source-segment="segment.source"-->
          <!--source-lang="{{document.sourceLang}}"-->
          <!--target-lang="{{document.targetLang}}"-->
          <!--active-component="widgets.activeComponent"-->
          <!--is-active="isActive.active"-->
          <!--&gt;</typeahead-editor>-->
      <!--</div>-->

      <!-- Post Editor -->
      <!--<div class="cssSlideUp"-->
         <!--ng-show="widgets.activeComponent === 'postEditor'"-->
      <!--&gt;-->
          <!--<post-editor-->
              <!--target-segment="segment.target"-->
              <!--is-active="isActive.active"-->
              <!--log-action="logAction(action, data)"-->
          <!--&gt;</post-editor>-->
      <!--</div>-->

      <!-- Translation Resource selector -->
      <!--the translation resource selection component-->
      <!--WORKING - we need a simpler component which simply populates the targetArea with the output of the user's default translation resource-->
      <!--Note: this component gets its options from the parent scope (translationOptions in the segmentArea-->
      <!--<div class="cssSlideUp"-->
           <!--ng-show="widgets.activeComponent === 'translationSelector'" >-->
        <!--<translation-selector-->
          <!--on-select="setTargetValue"-->
          <!--selector-options="translationOptions">-->
       <!--</translation-selector>-->
      <!--</div>-->

      <!-- commented for lm autocomplete experiments-->
      <!--<div ui-ace="{onLoad: aceLoaded}" ng-model="segment.target"></div>-->

    </div>
</div>

