<div layout="column" class="target-area" >
    <!--segment-finished-->
    <!-- the editing panel and controls -->
    <div flex ng-show="getSegmentState($index) === 'initial'" ng-click="activate($index)">
      <!--ALL TARGET AREA COMPONENTS BELONG HERE-->

      <div class="cssSlideUp"
           ng-show="widgets.activeComponent === 'lmAutocomplete'"
        >
        <typeahead-editor
          target-segment="segment.target"
          source-segment="segment.source"
          source-lang="{{document.sourceLang}}"
          target-lang="{{document.targetLang}}"
          active-component="widgets.activeComponent"
          is-active="isActive.active"
          ></typeahead-editor>
      </div>

      <!--the translation resource selection component-->
      <!--WORKING - commented for lm autocomplete experiments-->
      <div ng-show="widgets.activeComponent === 'translationSelector'" class="cssSlideUp">
        <translation-selector
          on-select="setTargetValue"
          selector-options="translationOptions">
       </translation-selector>
      </div>

      <!--WORKING - commented for lm autocomplete experiments-->
      <!--<div ui-ace="{onLoad: aceLoaded}" ng-model="segment.target"></div>-->

    </div>

</div>

<!-- the enhanced typeahead component -->
<!--<div ng-model="selected" place-after="ace_cursor" typeahead-trigger-function='currentWordPrefix()' typeahead-on-select='overwritePrefix($item)' flex-typeahead="state for state in getLocation($viewValue) | limitTo:8" typeahead-loading="true"></div>-->
