<div layout="column" ng-controller="AceCtrl" >

  <div layout="row">
    <!--segment-finished-->
    <!-- the editing panel and controls -->
    <!--WORKING - add other target-area components here-->
    <div flex ng-show="getSegmentState($index) === 'initial'" ng-click="activate($index)">
      <!--the translation resource selection component-->
      <!-- when opened, it animates to cover its container component-->
      <div ng-show="widgets.activeComponent === 'translationSelector'" class="cssSlideUp cover-all">
        <translation-selector
          on-select="setTargetValue"
          selector-options="sampleOptions"
          ></translation-selector>
      </div>
      <!--TODO: add the translation selector component - change css to fit with target area css-->
      <div ui-ace="{onLoad: aceLoaded}" ng-model="segment.target"></div>
    </div>
  </div>

</div>

<!-- the enhanced typeahead component -->
<!--<div ng-model="selected" place-after="ace_cursor" typeahead-trigger-function='currentWordPrefix()' typeahead-on-select='overwritePrefix($item)' flex-typeahead="state for state in getLocation($viewValue) | limitTo:8" typeahead-loading="true"></div>-->
