<!-- The tools for editing: glossary, concordance, edits -->
<!-- render and populate its fields dynamically -->
<div class="widget-area row">
    <tabset class="widget-wrapper col-xs-12">
      <tab heading="Glossary">
        <div layout="column"
             layout-margin
          >
          <div layout="row"
               layout-margin
            >
            <input type="text"
                   class="query-box"
                   flex
                   ng-model="glossaryQuery"
                   placeholder="Enter a search query..."
            />
            <md-button ng-click="queryGlossary(glossaryQuery)"
                    class="glossary-search btn btn-success"
            >
              <span class="glyphicon glyphicon-search"></span>
            </md-button>
            <md-button>{{sourceLang}}</md-button>
            <md-button>
              <i class="ion-arrow-right-c"></i>
            </md-button>

            <md-button>{{targetLang}}</md-button>
          </div>
          <div class="search-result"
             ng-repeat="glossaryMatch in glossaryMatches"
             ng-click="insertText(glossaryMatch)"
             ng-show="glossaryMatches"
          >{{glossaryMatch}}</div>
        </div>
        <!--<div ng-hide="glossaryMatches !== undefined"><p>Error: Unable to access the glossary service.</p></div>-->
        <!--<div ng-show="glossaryMatches.length === 0"><p>No matches found for term: <b>{{ glossary.glossaryQuery }}</b></p></div>-->
      </tab>
        <tab heading="TM">
            <div class="search-result"
                 ng-repeat="tmMatch in tmMatches"
                 ng-click="insertText(tmMatch)"
                 ng-show="tmMatches.length > 0"
                    >
                <div class="row" ng-show="tmMatches.length > 0">
                    <div class="col-xs-5">{{tmMatch.source}}</div>
                    <div class="col-xs-5">{{tmMatch.target}}</div>
                    <div class="col-xs-2">{{tmMatch.provider.name}}</div>
                </div>
            </div>
            <div class="row" ng-show="!tmMatches || tmMatches.length === 0">
                <p class="col-xs-12">No TM match for: {{currentSourceText}}</p>
            </div>
        </tab>
      <!--WORKING - move to standalone directive-->
        <tab heading="Concordance" ng-click="">
            <input type="text" ng-model="concordanceQuery" placeholder="Enter a search query..." class="query-box" />
          <!--TODO: select language component (like the glossary)-->
                <button ng-click="queryConcordancer(concordanceQuery, 'en')"
                    class="glossary-search btn btn-success">
                <span class="glyphicon glyphicon-search"></span></button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary lang-select" btn-radio="'{{document.sourceLang}}'"
                        ng-model="queryLang">{{document.sourceLang}}</button>
                <button type="button" class="btn btn-primary lang-select" btn-radio="'{{document.targetLang}}'"
                        ng-model="queryLang">{{document.targetLang}}</button>
            </div>
            <div class="search-result"
                 ng-repeat="concordanceMatch in concordanceMatches"
            >
              {{concordanceMatch.segment}}
            </div>

        </tab>
    </tabset>
</div>

