<!-- The tools for editing: glossary, concordance, edits -->
<!-- render and populate its fields dynamically -->
<div class="widget-area" layout="column" md-content>
  <md-tabs>
    <md-tab label="Glossary">
      <div layout="column"
           layout-margin
        >
        <div layout="row"
             layout-margin
          >
          <input type="text"
                 class="query-box"
                 flex
                 ng-model="glossaryQuery"
                 placeholder="Enter a search query..."
            />
          <md-button ng-click="queryGlossary(glossaryQuery)"
                     class="glossary-search"
            >
            <span class="glyphicon glyphicon-search"></span>
          </md-button>
          <md-button>{{sourceLang}}</md-button>
          <md-button>
            <i class="ion-arrow-right-c"></i>
          </md-button>

          <md-button>{{targetLang}}</md-button>
        </div>
        <!--the double layout-margin here is to keep results consistent with the query row-->
        <div layout="column" layout-margin>
          <div layout="row" layout-margin
               class="glossary-search-result"
               ng-repeat="glossaryMatch in glossaryMatches"
               ng-click="insertText(glossaryMatch)"
               ng-show="glossaryMatches.length > 0"
            >{{glossaryMatch}}</div>
        </div>
        <div layout="row" layout-margin
             ng-hide="glossaryMatches.length > 0"
          >No matches found for {{glossaryQuery}}</div>
      </div>
      </div>
    </md-tab>
    <!--TODO: show the matches for each source match in coherent sublists-->
    <!--TODO: show the alignment between match and source -->
  </md-tabs>
</div>

