<div ng-show="showTooltip" class="post-editor-menu">
    <!--TODO: data-model to show which actions are available given context-->
    <md-list>
        <md-list-item class="post-editor-action" ng-click="deleteEvent()"><i class="ion-ios7-close-outline"></i> Delete</md-list-item>
        <md-divider></md-divider>
        <md-list-item class="post-editor-action" ng-click="insertEvent()"><i class="ion-plus-round"></i> Insert</md-list-item>
        <md-divider></md-divider>
        <md-list-item class="post-editor-action" ng-click="moveEvent()"><i class="ion-arrow-move"></i> Move</md-list-item>
        <md-divider></md-divider>
        <md-list-item class="post-editor-action" ng-click="replaceEvent()"><i class="ion-loop"></i> Replace</md-list-item>
        <md-divider></md-divider>
    </md-list>
</div>
