  <!-- TODO: put the page content inside the tabs -->

  <tabset justified="true">
    <tab heading="Translate"></tab>
    <tab heading="Statistics"></tab>
    <tab heading="Project"></tab>
  </tabset>
</div>


<!-- TODO: add feature where dragging a word or phrase to target area translates it automatically -->
<!-- TODO: add TM and MT output on the target side -->
<!-- TODO: markup target content using highlight rules -->
<!-- TODO: get the TM matches for the source segment -->
<div class="container" ng-controller="ContentAreaCtrl">
    <div class="segment"  ng-repeat="seg in segments">
        <div class="row" ng-controller="AceCtrl">
            <!-- used with $anchorScroll from ContentAreaCtrl -->
            <!-- TODO: prevent $anchorScroll from reloading the ng-repeat -->
            <a id="segment-{{$index}}"></a>
            <p>Segment Index: {{$index}}</p>

            <div class="source-area col-sm-6">
                <div class="source">{{ allSegments[$index][0] }}</div>
            </div>

            <div index="{{$index}}" class="edit-area target-area col-sm-6">

                <div class="ace_editor target" id="ace_editor-{{$index}}"  ng-model="allSegments[$index][1]" ui-ace="{ onLoad : aceLoaded }"></div>
                <div class="row"><button ng-click="segmentFinished()">Segment Finished</button></div>
                <div chars special="germanChars" selected="insertChar(char)" ></div>
            </div>
        </div>
    </div>
    <hr/>
</div>

