  <!-- TODO: show the relevant content when the tab is active - put inside tab.content? -->
<div class="container" ng-controller="TabsCtrl">-->

    <!-- TODO: add feature where dragging a word or phrase to target area translates it automatically -->
    <!-- UPDATE: use glossary for the 'add word' feature -->
    <!-- TODO: get the TM matches for the source segment -->

    <!-- translation area -->
    <div class="edit-area-wrapper" ng-controller="ContentAreaCtrl" ng-show="tabs[0].active">
        <textarea ng-show="showXLIFF" rows="20" cols="120">{{ xliff_content }}</textarea>

        <div class="segment row" ng-controller="SegmentAreaCtrl" ng-repeat="seg in segments" index="$index"
             ng-init="segment = seg; init($index)">
            <a id="segment-{{$index}}"></a>
            <p class="segment-index-label">Segment Index: {{$index}} <span class="segment-finished" ng-show="segmentState.completed">Complete</span></p>

            <div class="bottom-margin" ng-click="activate($index)">
                <div class="row">
                    <!-- used with $anchorScroll from ContentAreaCtrl -->
                    <!-- TODO: prevent $anchorScroll from reloading the ng-repeat -->

                    <div class="col-sm-6 bottom-margin">
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="content-card">
                                    <div class="source">
                                        <source-area source-sentence="segment.source"></source-area>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-controller="AceCtrl" class="col-sm-6">
                        <div class="row">
                            <div class="editor-area">
                                <div class="col-xs-11">
                                    <div index="{{$index}}" class="content-card">
                                        <!-- the ace editor -->
                                        <div class="ace_editor target" id="ace_editor-{{$index}}" ng-model="segment.target" ui-ace="{ onLoad : aceLoaded }"></div>
                                        <!--<div chars class="sample-show-hide" collapsed="showSpecialChars" special="germanChars" selected="insertChar(char)" ></div>-->
                                    </div>
                                </div>
                                <div class="reorder-toolbar col-xs-1 move-left" ng-show="isActive.active">
                                  <button tooltip="switch edit mode" tooltip-placement="right" ng-click="changeEditMode()" ng-disabled="segmentState.completed" class="btn btn-primary mode-glyph">
                                        <span>E</span>
                                  </button>
                                  <button tooltip="next token" tooltip-placement="right" ng-click="selectNextRange()" ng-disabled="segmentState.completed" class="btn btn-primary mode-glyph">
                                      <span style="font-size: 7px" class="glyphicon glyphicon-arrow-right"></span>
                                  </button>
                                  <button tooltip="move range" tooltip-placement="right" ng-click="moveCurrentEditRange()" ng-disabled="segmentState.completed" class="btn btn-primary mode-glyph">
                                      <span style="font-size: 7px" class="glyphicon glyphicon-arrow-right"></span>
                                  </button>
                                </div>
                            </div>
                        </div>

                        <!-- TODO: use the 'currentToken' property on the AceCtrl instead of 'selectedToken' -->
                        <div collapse="false" ng-show="isActive.active">
                            <div class="row">
                                <div class="col-xs-1">
                                    <button ng-click="changeTokenNumber()" tooltip="change the number of the selected phrase" ng-disabled="segmentState.completed" class="btn btn-primary morph-glyph" tooltip-placement="bottom">
                                        <span ng-show="!changeNumberWorking">#</span>
                                        <i ng-show="changeNumberWorking" class="ion-loading-b"></i>
                                    </button>
                                </div>
                                <div class="col-xs-1">
                                    <button ng-click="changeTokenGender()" type="button" class="btn btn-primary morph-glyph" ng-disabled="segmentState.completed" tooltip="change gender of the selected phrase" tooltip-placement="bottom">
                                        <span>G</span>
                                        <i ng-show="changeGenderWorking" class="ion-loading-b"></i>
                                    </button>
                                </div>
                                <div class="col-xs-1">
                                    <button ng-click="changeTokenCase()" type="button" class="btn btn-primary morph-glyph" ng-disabled="segmentState.completed" tooltip="change case of the selected phrase" tooltip-placement="bottom">
                                        <span>C</span>
                                        <i ng-show="changeCaseWorking" class="ion-loading-b"></i>
                                    </button>
                                </div>
                                <div class="col-xs-offset-1 col-xs-1 text-right">
                                    <button ng-click="openHelp()" tooltip="show help" tooltip-placement="bottom" ng-disabled="segmentState.completed" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-question-sign"></span></button>
                                </div>
                                <div class="col-xs-1 text-right">
                                    <button ng-click="copySourcePunctuation()" tooltip="copy punctuation from source" tooltip-placement="bottom" ng-disabled="segmentState.completed" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-share-alt"></span></button>
                                </div>
                                <div class="col-xs-1 text-right">
                                    <button ng-click="toggleToolbar()" tooltip="toggle toolbar" tooltip-placement="bottom" ng-disabled="segmentState.completed" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-wrench"></span></button>
                                </div>
                                <div class="col-xs-1 text-right">
                                    <!--<button ng-click="nextMTSuggestion()" tooltip="next MT suggestion" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-flash"></span></button>-->
                                    <button ng-click="removeExtraWhitespace()" tooltip="remove extra whitespace" tooltip-placement="bottom" ng-disabled="segmentState.completed" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-flash"></span></button>
                                </div>
                                <div class="col-xs-1 text-right">
                                    <button ng-click="clearEditor()" tooltip="reject MT output" tooltip-placement="bottom" ng-disabled="segmentState.completed" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                                <div class="col-xs-1 text-right">
                                    <button ng-click="segmentFinished($index)" ng-disabled="segmentState.completed" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-ok-sign"></span></button>
                                </div>
                                <!--<button ng-click="showSpecialChars = !showSpecialChars" class="btn btn-primary pull-right"><span>Show special</span></button>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- The tools for editing -->
                <!--<div class="ace-toolbar container" ng-show="toolbarOpen" collapse="toolbarOpen">-->
                <div class="ace-toolbar" collapse="isCollapsed['collapsed']" ng-show="isActive.active">
                    <div
                        class="translation-toolbar"
                    >
                    <!-- Working - move to tabset -->
                    <!-- Working - Add smart pluralize here first, then move to the edit area -->
                    <!-- TODO - make tabs active based on edit-area interactions -->
                        <tabset>
                            <tab heading="Glossary" ng-click="">
                                <input type="text" ng-model="glossary.glossaryQuery" placeholder="Enter a search query..." /><button ng-click="queryGlossary(glossary.glossaryQuery)" class="glossary-search btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                                <div class="search-result"
                                     ng-repeat="glossaryMatch in glossaryMatches"
                                     ng-click="insertText(glossaryMatch)"
                                     ng-show="glossaryMatches"
                                >{{glossaryMatch}}</div>

                                <div ng-hide="glossaryMatches !== undefined"><p>Error: Unable to access the glossary service.</p></div>
                                <div ng-show="glossaryMatches.length === 0"><p>No matches found for term: <b>{{ glossary.glossaryQuery }}</b></p></div>
                            </tab>
                            <tab heading="Concordance" ng-click="">
                                <input type="text" ng-model="concordanceQuery" placeholder="Enter a search query..." />
                                <button ng-click="queryConcordancer(concordanceQuery, queryLang)" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary lang-select" btn-radio="'en'" ng-model="queryLang">EN</button>
                                    <button type="button" class="btn btn-primary lang-select" btn-radio="'de'" ng-model="queryLang">DE</button>
                                </div>
                                <div class="search-result"
                                     ng-repeat="concordanceMatch in concordanceMatches"
                                     ng-bind-html="getSnippet({{concordanceMatch}})"
                                     ng-hide="concordancerError"
                                ></div>

                                <div ng-show="concordancerError"><p>Error: Unable to access the concordance service.</p></div>
                            </tab>
                            <tab heading="WordForms">
                                <div class="word-forms">
                                    <div
                                            ng-repeat="word in otherWordForms"
                                    >
                                        <button class="btn btn-default" ng-click="replaceSelection(word)">{{word}}</button>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Edit history">
                                <div class="edit-history">
                                    <p>List of edits performed in this segment</p>

                                    <div ng-repeat="edit in editHistory">
                                        {{edit.description}} <button ng-click="propagateEdit($index)">Propagate</button>
                                    </div>
                                </div>
                            </tab>
                        </tabset>

                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>

    <div ng-show="checkTranslationCompleted()" id="footmsg">
        <h2>Translation completed!</h2>
    </div>
</div>