  <!-- TODO: show the relevant content when the tab is active - put inside tab.content? -->
<div class="container" ng-controller="TabsCtrl">
    <div>
      <!--<tabset justified="true">-->
        <!--<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled"></tab>-->
      <!--</tabset>-->
        <!-- TODO: use nav here, not tabs -->
    </div>

    <!-- TODO: add feature where dragging a word or phrase to target area translates it automatically -->
    <!-- UPDATE: use glossary for the 'add word' feature -->
    <!-- TODO: markup target content using highlight rules -->
    <!-- TODO: get the TM matches for the source segment -->

    <!-- translation area -->
    <div class="container edit-area-wrapper" ng-controller="ContentAreaCtrl" ng-show="tabs[0].active">
        <div class="segment row" ng-controller="SegmentAreaCtrl" ng-repeat="seg in segments" ng-init="segment = seg">
            <a id="segment-{{$index}}"></a>
            <p class="segment-index-label">Segment Index: {{$index}}</p>
            <!-- TODO - WORKING: move the AceCtrl only to the Ace edit area, and nest controllers within the translation unit -->
            <div class="container" >
                <div class="row">
                    <!-- used with $anchorScroll from ContentAreaCtrl -->
                    <!-- TODO: prevent $anchorScroll from reloading the ng-repeat -->

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="content-card">
                                    <source-area sentence="segment.source" class="source"></source-area>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-controller="AceCtrl" index="{{$index}}" class="content-card">
                                    <!-- the ace editor -->
                                    <div class="ace_editor target" id="ace_editor-{{$index}}" ng-model="segment.target" ui-ace="{ onLoad : aceLoaded }"></div>
                                    <!--<div chars class="sample-show-hide" collapsed="showSpecialChars" special="germanChars" selected="insertChar(char)" ></div>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-2 text-right">
                                <button ng-click="segmentFinished()" tooltip="segment complete" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-ok-sign"></span></button>
                            </div>
                            <div class="col-xs-2 text-right">
                                <button ng-click="clearEditor()" tooltip="reject MT output" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                            <div class="col-xs-2 text-right">
                                <button ng-click="toggleToolbar()" tooltip="toggle toolbar" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-wrench"></span></button>
                            </div>
                            <div class="col-xs-2 text-right">
                                <button ng-click="nextMTSuggestion()" tooltip="next MT suggestion" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-flash"></span></button>
                            </div>
                            <!--<button ng-click="showSpecialChars = !showSpecialChars" class="btn btn-primary pull-right"><span>Show special</span></button>-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- The tools for editing -->
            <!-- TODO: should these tools really be repeated, or should there be a single instance for the whole document? -->
            <!--<div class="ace-toolbar container" ng-show="toolbarOpen" collapse="toolbarOpen">-->
            <div class="ace-toolbar container" collapse="isCollapsed['collapsed']">
                <div
                    class="translation-toolbar"
                >
                <!-- Working - move to tabset -->
                <!-- Working - Add smart pluralize here first, then move to the edit area -->
                <!-- TODO - make tabs active based on edit-area interactions -->
                    <tabset>
                        <tab heading="Glossary" ng-click="">
                            <input type="text" ng-model="glossaryQuery" placeholder="Enter a search query..." /><button ng-click="queryGlossary(glossaryQuery)" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                            <div class="search-result"
                                 ng-repeat="glossaryMatch in glossaryMatches"
                                 ng-click="insertText(glossaryMatch)"
                            >{{glossaryMatch}}</div>
                        </tab>
                        <tab heading="Concordance" ng-click="">
                            <input type="text" ng-model="concordanceQuery" placeholder="Enter a search query..." /><button ng-click="queryConcordancer(concordanceQuery)" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                            <div class="search-result"
                                 ng-repeat="concordanceMatch in concordanceMatches"
                                 ng-bind-html="getSnippet({{concordanceMatch}})"
                            ></div>
                        </tab>
                        <tab heading="WordForms">
                            <div class="word-forms">
                                <div
                                        ng-repeat="word in otherWordForms"
                                >
                                    <button class="btn btn-default" ng-click="replaceSelection(word)">{{word}}</button>
                                </div>
                            </div>
                        </tab>
                    </tabset>

                </div>
            </div>
        <hr/>
        </div>
    </div>
</div>
