<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HandyCAT</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

      <!-- TODO: sass-bootstrap is included from the main.scss sass file -->
      <!-- build:css styles/vendor.css -->
      <link rel="stylesheet" href="bower_components/angular-snap/angular-snap.css" />
      <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.css" />
      <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
      <!-- endbuild -->

      <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/style.css">
      <!-- endbuild -->
</head>
  <body ng-app="editorComponentsApp">

    <div class="container" ui-view></div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/file-saver/FileSaver.js"></script>
    <script src="bower_components/jqueryui/ui/jquery-ui.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload-shim.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>
    <script src="bower_components/snapjs/snap.js"></script>
    <script src="bower_components/angular-snap/angular-snap.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>

    <script src="scripts/lib/angular-ui-ace/ui-ace.js"></script>
    <script src="scripts/lib/german_snowball_stemmer.js"></script>
    <script src="scripts/lib/ace-builds-master/src-noconflict/ace.js"></script>
    <script src="scripts/lib/ace-builds-master/src-noconflict/ext-language_tools.js"></script>
    <script src="scripts/lib/ui-bootstrap-tpls-0.12.0-SNAPSHOT.js"></script>
    <!--<script src="scripts/lib/summary_menu.js"></script>-->

    <!-- endbower -->
    <!-- endbuild -->

    <!-- CAT editor scripts -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>

    <script src="scripts/services/glossary.js"></script>
    <script src="scripts/services/fileReader.js"></script>
    <script src="scripts/services/xliffParser.js"></script>
    <script src="scripts/services/tokenizer.js"></script>
    <script src="scripts/services/ruleMap.js"></script>
    <script src="scripts/services/copyPunctuation.js"></script>
    <script src="scripts/services/TranslationMemory.js"></script>
    <script src="scripts/services/wikipedia.js"></script>
    <script src="scripts/services/SegmentOrder.js"></script>
    <script src="scripts/services/editSession.js"></script>
    <script src="scripts/services/logger.js"></script>

    <script src="scripts/services/Auth.js"></script>
    <script src="scripts/services/Projects.js"></script>
    <script src="scripts/services/Session.js"></script>
    <script src="scripts/services/User.js"></script>
    <script src="scripts/services/Base64.js"></script>
    <script src="scripts/services/autocompleters.js"></script>

    <!-- directives -->
    <script src="scripts/directives.js"></script>
    <script src="scripts/navigation/catNav.js"></script>
    <script src="scripts/directives/index.js"></script>
    <script src="scripts/directives/logger.js"></script>
    <script src="scripts/directives/endRepeat.js"></script>

    <script src="scripts/editArea/segmentArea/targetArea/staticTarget.js"></script>
    <script src="scripts/toolbar/toolbar.js"></script>
    <script src="scripts/directives/heightWatcher.js"></script>

    <script src="scripts/editArea/toolbar/hud-toolbar.js"></script>
    <script src="scripts/editArea/segmentArea/sourceArea/sourceArea.js"></script>
    <script src="scripts/editArea/segmentArea/targetArea/AceCtrl.js"></script>
    <script src="scripts/projects/menuItem.js"></script>

    <script src="scripts/translationSelector/translationSelector.js"></script>
    <script src="scripts/translationSelector/translationItem.js"></script>

    <!-- directives for the target area -->
    <script src="scripts/directives/specialChars.js"></script>

    <!-- CONTROLLERS -->

    <script src="scripts/tokenRow/tokenRow.js"></script>
    <script src="scripts/tokenRow/draggable.js"></script>
    <script src="scripts/tokenRow/gap.js"></script>
    <script src="scripts/tokenRow/token.js"></script>

    <script src="scripts/projects/create/createProject.js"></script>
    <script src="scripts/login/Login.js"></script>
    <script src="scripts/signup/Signup.js"></script>
    <script src="scripts/projects/projects.js"></script>
    <script src="scripts/editArea/segmentArea/segmentArea.js"></script>
    <script src="scripts/editArea/editArea.js"></script>
    <script src="scripts/settings/UserSettings.js"></script>

    <script src="scripts/languagePair/langPair.js"></script>

    <script src="scripts/typeahead/typeahead.js"></script>
    <script src="scripts/directives/placeAfter.js"></script>

    <!--COMPONENT MODULES-->
    <script src="scripts/concordancer/concordancer.js"></script>

    <!--configuration module-->
    <script src="scripts/config/config.js"></script>

    <script src="scripts/app.js"></script>

    <!-- endbuild -->

    <!-- CAT Tool Templates -->
    <script src="scripts/cat.templates.js"></script>

  </body>
</html>
