<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">editor_components</h3>
</div>


<!-- testing popovers -->
<!-- TODO: dynamically populate popovers from glossary service -->
<hr />
<h4>Testing popovers</h4>
<div class="test-popover" ng-controller="GlossaryCtrl">
    <p>
        <button popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>
        <!-- TODO: Note: this uses the very new popover-template directive see: http://plnkr.co/edit/B2wEisa -->
        <button popover-template="scripts/glossary/glossary-template.html" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>
        <!-- <span    ui-options="{title:office.location, content:office.people.join(',')} -->
        <span tooltip-html-unsafe="contentFunc()">Tooltip with html from function</span>
        <span tooltip-html-unsafe="{{content}}">Tooltip with html from function</span>
    <div popover="{{content}}" popover-trigger="mouseenter">Testing ui popover</div>

    <p>
        <span popover="I appeared when the mouse entered a span" popover-trigger="mouseenter">Popover on span element</span>
        <span popover="makeHTML()" popover-trigger="mouseenter">Popover on span element</span>
    </p>
    </p>
</div>

<hr/>



<h3 class="text-primary" ng-controller="UploadCtrl">Testing ngFileUpload</h3>
<!-- the upload control should be the same regardless of the UI component -->
<!-- <div ng-controller="UploadCtrl"> -->
<div>
    <!-- <input type="text" ng-model="file"> -->
    <input type="file" ng-file-select="onFileSelect($files)" >
    <!-- <input type="file" ng-file-select="onFileSelect($files)" multiple> -->

    <!-- TODO: For some reason drag-and-drop doesn't work yet -->
    <!--
    <div class="drop-zone" ng-file-select="onFileSelect($files)" ng-file-drag-over-class="dragover"
         ng-show="dropSupported">drop files here</div>
    <div ng-file-drop-available="dropSupported=true"
         ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
    -->
    <!-- <button ng-click="upload.abort()">Cancel Upload</button> -->

</div>

<hr/>

<!-- TODO: should we only have one Ace instance, or many? -->
<h3 class="text-primary">Testing Ace with directives</h3>


<div token-row ng-controller="RowCtrl">
    <!-- setup the template here -->
    <!-- one starting gap -->
    <div class="start inline">
        <div gap class='gap'>&nbsp</div>
    </div>
    <!-- A token unit has a token, then a gap after -->
    <div class='inline' draggable ng-repeat='token in tokens'>
        <div token class="word">{{ token }}</div>
        <!-- <token></token> -->
        <!-- TODO: collapse this gap when dragging stops -->
        <div gap class='gap'>&nbsp</div>
    </div>
</div>

<!-- <h2>TODO: DYNAMICALLY SET HIGHLIGHTING RULES?</h2> -->
<!-- TODO: only use the editor on the target side -->
<div class="container" ng-controller="ContentAreaCtrl">
    <div ng-repeat="seg in segments" class="row">
<!-- TODO: add feature where dragging a word or phrase to target area translates it automatically -->
        <p>Segment Index: {{$index}}</p>
        <div class="edit-area source-area col-md-6" ng-controller="AceCtrl">
            <div class="source">{{ fullDoc.segments[$index] }}</div>
        </div>

<!-- TODO: add TM and MT output on the target side -->
<!-- TODO: markup target content using highlight rules -->
        <div class="edit-area target-area col-md-6" ng-controller="AceCtrl">
<!-- TODO: get the TM matches for the source segment -->
            <div class="ace_editor" ui-ace="{ onLoad : aceLoaded }"></div>
            <!-- <div class="ace_editor" ui-ace="{ onLoad : aceLoaded, mode: 'javascript'}" ng-model="fullDoc.segments[$index]"></div> -->
                <div class="row">
                    <div class="col-xs-12">
                        <input type="text" ng-model="sampleSen" placeholder="Type a sentence to tokenize"/>
                    </div>
                </div>
                <div class="row">
                    <button class="col-xs-2" ng-click="queryTM(testQuery)">query TM</button>
                    <button class="col-xs-2" ng-click="getSelection()">get selection</button>
                    <button class="col-xs-2" ng-click="tokenize(sampleSen)">Tokenize</button>
                    <button class="col-xs-2" ng-click="createTM(sampleSen,minPhraseLen)">Create TM</button>
                    <button class="col-xs-2" ng-click="logTM()">Log TM</button>
                </div>
            <p>Current Selection: {{$scope.currentSelection}}</p>
            </div>
        </div>
    </div>
    <hr/>
</div>

<div class="footer">
  <p>Make good stuff</p>
</div>
