<div class="project-wrapper">
  <snap-drawer>
    <md-list>
      <md-item>
        <md-item-content>
          <!--<div class="md-tile-content">-->
          <div class="menu-item menu-title">
            <a ng-href="/">HandyCAT</a>
          </div>
        </md-item-content>
      </md-item>
      <md-divider></md-divider>
      <md-item>
        <md-item-content>
          <md-button class="menu-item" ui-sref="projects.list">Projects</md-button>
        </md-item-content>
      </md-item>
      <md-divider></md-divider>
      <md-item>
        <md-item-content>
          <h3 class="menu-item">Actions</h3>
          <md-divider></md-divider>
        </md-item-content>
      </md-item>
      <!--WORKING HERE-->
      <md-item>
        <md-item-content>
          <md-button class="menu-item" ng-click="saveJSON()">Output JSON Log</md-button>
        </md-item-content>
      </md-item>
      <md-divider></md-divider>
      <md-item>
        <md-item-content>
          <md-button class="menu-item" ng-click="saveXLIFF()">Download document</md-button>
        </md-item-content>
      </md-item>
      <md-divider></md-divider>
      <md-item>
        <md-item-content>
          <md-button class="menu-item" ng-click="openHelp()">Show Help</md-button>
        </md-item-content>
      </md-item>
      <md-divider></md-divider>
    </md-list>
    <md-button class="menu-item" snap-close>Close Menu</md-button>

  </snap-drawer>

  <snap-content snap-options="{touchToDrag:false}">
    <!-- TODO: add controller for the snapper, use scope and ng-repeat to manage menu items instead of hard-coding  -->
    <cat-nav></cat-nav>
    <div ui-view></div>


    <div class="footer"></div>
  </snap-content>
</div>
