<div class="project-wrapper">
  <snap-drawer>
    <md-list>
      <md-item>
        <md-item-content>
          <div class="menu-item menu-title">
            <a ng-href="/">HandyCAT</a>
          </div>
        </md-item-content>
      </md-item>
      <md-divider></md-divider>
      <md-item>
        <md-item-content>
          <md-button class="menu-item" ui-sref="projects.list">Projects</md-button>
        </md-item-content>
      </md-item>
      <md-divider></md-divider>
      <md-item>
        <md-item-content>
          <h3 class="menu-item">Actions</h3>
          <md-divider></md-divider>
        </md-item-content>
      </md-item>
      <!--WORKING HERE-->
      <md-item>
        <md-item-content>
          <md-button class="menu-item" ng-click="saveJSON()">Output JSON Log</md-button>
        </md-item-content>
      </md-item>
      <md-divider></md-divider>
      <md-item>
        <md-item-content>
          <md-button class="menu-item" ng-click="saveXLIFF()">Download document</md-button>
        </md-item-content>
      </md-item>
      <md-divider></md-divider>
      <md-item>
        <md-item-content>
          <md-button class="menu-item" ng-click="openHelp()">Show Help</md-button>
        </md-item-content>
      </md-item>
      <md-divider></md-divider>
      <md-item>
        <md-item-content>
          <md-button class="menu-item" ng-click="logout()">Logout</md-button>
        </md-item-content>
      </md-item>
      <md-divider></md-divider>
    </md-list>
    <md-button class="menu-item" snap-close>Close Menu</md-button>

  </snap-drawer>

  <snap-content layout-fill
                class="edit-area-wrapper"
                snap-options="{touchToDrag:false}"
                layout="column"
    >
      <cat-nav></cat-nav>
      <!--md-content is here because the cat-nav places a md-toolbar element as its sibling -->
      <md-content>
        <div ui-view></div>
      </md-content>
  </snap-content>
</div>
