<section ng-controller="EditAreaCtrl">

  <!-- show the loading sheet before the ng-repeat is finished -->
  <!-- scope.on repeat-finished -->
  <div ng-show="visible.projectLoading" layout="vertical" layout-align="center center" class="page-loading-overlay">
    <h4 class="text-info">Project Loading...</h4>
    <md-progress-linear mode="indeterminate"></md-progress-linear>
  </div>

  <!--TODO: the loadProject() function causes a cascade of timeouts in child controllers -- the document object should resolve before this scope loads-->
  <div ng-init="loadProject()">


    <!-- TODO: remove the HUD toolbar, put the controls for the toolbar elsewhere -->
    <div class="navbar-fixed-bottom"> <hud-toolbar></hud-toolbar></div>

    <!-- translation area -->
    <div class="edit-area-wrapper" ng-controller="ContentAreaCtrl">
      <div class="container">

        <!-- singleton directive containing the toolbar -->
        <toolbar class="widget-toolbar" active-segment="activeSegment" segments="document.segments" ng-show="visible.toolbar"></toolbar>

        <!-- repeat for each segment -->
        <!--TODO: remove all bootstrap grid styling, switch to flexbox styles -->
        <div class="segment row"
             ng-class="{  pending: !segmentState.completed, completed: segmentState.completed}"
             id="segment-{{$index}}"
             ng-controller="SegmentAreaCtrl"
             ng-repeat="seg in segments"
             end-repeat
             ng-init="segment = seg; init($index); segmentNumber = $index; id.index = $index;"
          >
          <!-- just an anchor to let us find this place in the DOM -->
          <a id="anchor-{{$index}}"></a>
          <!-- the segment info row -->
          <div class="row segment-muted-text">
            <div class="col-xs-4">Segment Index: {{$index}}
              <!--<span class="segment-finished" ng-show="segmentState.completed">-->
              <!--<md-button>-->
              <!--<span class="glyphicon glyphicon-ok"></span> Complete-->
              <!--</md-button>-->
              <!--</span>-->
              <!--<span class="segment-finished" ng-hide="segmentState.completed">-->
              <!--<md-button>-->
              <!--<span class="glyphicon glyphicon-flag"></span> Pending-->
              <!--</md-button>-->
              <!--</span>-->
            </div>
            <div class="col-xs-6 pull-right translation-buttons">

              <!--TODO: WORKING - replace this with the translation selector component-->
              <!--<md-button ng-click="shared.sourceTranslations(segment.source); showTranslations = !showTranslations"><i class="ion-ios7-bolt"></i></md-button>-->
              <md-button ng-click="clickTest()"><i class="ion-ios7-bolt"></i></md-button>
              <span ng-show="translationsPending">retrieving translations<i class="ion-loading-c"></i></span>
                <span
                  ng-repeat="resource in translationResources"
                  >
                  <md-button ng-click="shared.setText(resource.target)">{{resource.provider}}</md-button>
                </span>
            </div>
          </div>
          <!-- the source and target rows -->
          <div ng-class="{activeshadow: activeSegment === $index}">
            <div class="bottom-margin" ng-click="activate($index)">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-xs-12 bottom-margin">
                      <div ng-show="segmentState.completed" class="segment-finished-target" ng-click="reopen($index)">
                        <p>{{segment.source}}</p>
                      </div>
                      <div ng-hide="segmentState.completed" class="content-card">
                        <div class="source">
                          <source-area source-sentence="segment.sourceDOM.textContent"></source-area>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="row">
                    <div class="bottom-margin">
                      <static-target text="{{segment.target}}"></static-target>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: refactor this into a watch function -->
    <!--<div ng-show="checkTranslationCompleted()" id="footmsg">-->
    <!--<h2>Translation Job completed!</h2>-->
    <!--</div>-->

    <!--
    <div ng-controller="StatsController">
        <p>Stats</p>
        <div ng-repeat="s in log">
            <p>{{s[3]}}: {{s[0]}} {{s[1]}} {{s[2]}}</p>
        </div>
    </div> -->

  </div>
</section>
