<section ng-controller="EditAreaCtrl">

  <!--LOADING OVERLAY-->
  <!-- show the loading sheet before the ng-repeat is finished -->
  <div ng-show="visible.projectLoading" layout="column"
       layout-fill
       layout-align="center center"
       class="page-loading-overlay"
    >
    <h4 class="text-info">Project Loading...</h4>
    <md-progress-linear mode="indeterminate"></md-progress-linear>
  </div>
  <!--END LOADING OVERLAY-->

  <div ng-init="loadProject()">

    <!-- translation area -->
    <div>
      <!-- the container class is currently important because it pads the window -->
      <div class="container">

        <!--TOOLBAR-->
        <!-- singleton directive containing the toolbar -->
        <toolbar class="widget-toolbar"
                 active-segment="activeSegment"
                 segments="document.segments"
                 query-glossary="queryGlossary"
                 source-lang="{{document.sourceLang}}"
                 target-lang="{{document.targetLang}}"
                 toolbar-showing="visible.toolbar"
                 ng-show="visible.toolbar"
        ></toolbar>
        <!--END TOOLBAR-->

        <!-- repeat for each segment -->
        <!-- WORKING - the segment area is a container for widgets which provide styling, interactivity, and behavior on source and target sentences -->
        <div class="segment"
             layout="column"
             layout-fill
             ng-class="{pending: !(getSegmentState(id.index) === 'translated'), completed: getSegmentState(id.index) === 'translated'}"
             ng-controller="SegmentAreaCtrl"
             ng-repeat="seg in segments"
             end-repeat
             ng-init="segment = seg; init($index); id.index = $index;"
             id="segment-{{$index}}"
          >
          <!-- just an anchor to let us find this place in the DOM -->
          <a id="anchor-{{$index}}"></a>
          <!-- the segment info row -->
          <div layout="row" class="segment-muted-text">
            <div flex>Segment Index: {{$index}}</div>

            <!--TRANSLATION COMPONENT SELECTOR-->
            <!-- WORKING - the button group lets the user select which component is currently showing -->
            <!-- WORKING - components are directives which are databound to the segment object (or its properties)-->
            <div flex class="translation-buttons" ng-show="isActive.active">
              <md-radio-group
                layout="row"
                ng-model="widgets.activeComponent"
              >
                <md-radio-button value="AceEditor"  aria-label="Editor">Editor</md-radio-button>
                <md-radio-button value="translationSelector" aria-label="Translation Selector">Translation Selector</md-radio-button>
              </md-radio-group>

              <!--<span ng-show="translationsPending">retrieving translations<i class="ion-loading-c"></i></span>-->
                <!--<span-->
                  <!--ng-repeat="resource in translationResources"-->
                  <!-->
                  <!--<md-button ng-click="shared.setText(resource.target)">{{resource.provider}}</md-button>-->
                <!--</span>-->
            </div>
            <!--END TRANSLATION COMPONENT SELECTOR-->
          </div>

          <!-- the source and target rows -->
          <div ng-class="{activeshadow: activeSegment === id.index}" layout="row" layout-padding class="bottom-margin">
            <div flex layout="column">
              <div class="bottom-margin content-card">
                <div ng-show="segment.state === 'translated'" class="segment-finished">
                  <p>{{segment.source}}</p>
                </div>
                <div ng-hide="segment.state === 'translated'">
                  <div class="source">
                    <source-area
                      source-sentence="segment.source"
                      query-glossary="queryGlossary"
                    ></source-area>
                  </div>
                </div>
              </div>
            </div>

            <div flex
                 layout="column"
            >
              <div class="bottom-margin content-card" ng-click="activate(id.index)">
                <md-content>
                  <div ng-show="segment.state === 'translated'" class="segment-finished">
                    <p>{{segment.target}}</p>
                  </div>
                  <static-target text="{{segment.target}}"></static-target>
                </md-content>
              </div>

              <!--  the segment-level controls for the target panel -->
              <div
                ng-show="isActive.active"
                layout="row"
                layout-align="end center"
                clasy="segment-controls"
              >
                  <div>
                    <md-button
                      ng-click="segmentFinished(id.index)"
                      ng-disabled="getSegmentState(id.index) === 'translated'"
                      >
                      <span class="glyphicon glyphicon-ok-sign"></span>
                    </md-button>
                  </div>
                  <!--<div>-->
                  <!--<md-button ng-click="clearEditor()" tooltip="reject MT output" tooltip-placement="bottom" ng-disabled="segmentState.completed"><span class="glyphicon glyphicon-remove"></span></md-button>-->
                  <!--</div>-->
                  <!--<div>-->
                  <!--<md-button ng-click="clearEditor()" tooltip="undo" tooltip-placement="bottom" ng-disabled="segmentState.completed"><span class="glyphicon glyphicon-undo"></span></md-button>-->
                  <!--</div>-->
                  <!--<div>-->
                  <!--<md-button ng-click="clearEditor()" tooltip="redo" tooltip-placement="bottom" ng-disabled="segmentState.completed"><span class="glyphicon glyphicon-undo"></span></md-button>-->
                  <!--</div>-->
              </div>
            </div>
          </div>
          <md-divider></md-divider>
        </div>
      </div>
    </div>

  </div>
</section>
