<div ng-init="loadProject()" ng-controller="EditAreaCtrl">
    <cat-nav></cat-nav>

    <!-- the hud-toolbar goes at the bottom -->
    <!-- TODO: encapsulate component css for hud-toolbar -->
    <hud-toolbar></hud-toolbar>

    <!-- translation area -->
    <div class="edit-area-wrapper" ng-controller="ContentAreaCtrl">

        <!-- singleton directive containing the toolbar -->
        <toolbar class="widget-toolbar" active-segment="activeSegment" segments="document.segments" ng-show="visible.toolbar"></toolbar>

        <!-- repeat for each segment -->
        <div class="segment row"
             ng-class="{  pending: !segmentState.completed, completed: segmentState.completed}"
             id="segment-{{$index}}"
             ng-controller="SegmentAreaCtrl"
             ng-repeat="seg in segments"
             end-repeat
             ng-init="segment = seg; init($index); segmentNumber = $index; id.index = $index;"
        >
            <a id="anchor-{{$index}}"></a>
            <div class="segment-index-label">Segment Index: {{$index}}
                <span class="segment-finished" ng-show="segmentState.completed">
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-ok"></span> Complete
                    </button>
                </span>
                <span class="segment-finished" ng-hide="segmentState.completed">
                   <button type="button" class="btn btn-default btn-xs">
                       <span class="glyphicon glyphicon-flag"></span> Pending
                   </button>
                </span>
            </div>
            <div ng-class="{activeshadow: activeSegment === $index}">
                <div class="bottom-margin" ng-click="activate($index)">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-xs-12 bottom-margin">
                                    <div ng-show="segmentState.completed" class="segment-finished-target frame" ng-style="internalHeightStyle" ng-click="reopen($index)">
                                        <p>{{segment.source}}</p>
                                    </div>
                                    <div ng-hide="segmentState.completed" height-watcher class="content-card frame">
                                        <div class="source">
                                            <source-area ng-init="setSource(segment.sourceDOM.textContent)" source-sentence="segment.sourceDOM.textContent"></source-area>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- working - prototyping dynamic addition of the Ace Editor -->
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="bottom-margin">
                                    <static-target text="{{segment.target}}"></static-target>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO: refactor this into a watch function -->
    <!--<div ng-show="checkTranslationCompleted()" id="footmsg">-->
        <!--<h2>Translation Job completed!</h2>-->
    <!--</div>-->

    <!--
    <div ng-controller="StatsController">
        <p>Stats</p>
        <div ng-repeat="s in log">
            <p>{{s[3]}}: {{s[0]}} {{s[1]}} {{s[2]}}</p>
        </div>
    </div> -->

</div>
