<div ng-controller="AceCtrl">
    <div ng-show="segmentState.completed" class="content-card segment-finished-target frame" ng-click="reopen($index)">
        <p>{{segment.target}}</p>
    </div>
    <div ng-show="!segmentState.completed">
        <div class="content-card frame" ui-ace="{onLoad: aceLoaded}" ng-model="segment.target"></div>
        <div ng-show="isActive.active">
            <div class="pull-right">
                <div class="inline">
                    <button logger="clear-editor" ng-click="clearEditor()" tooltip="reject MT output" tooltip-placement="bottom" ng-disabled="segmentState.completed" class="btn btn-primary cat-glyph" ng-show="session.showSmartButtons"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="inline">
                    <button logger="segment-finished" ng-click="segmentFinished($index)" ng-disabled="segmentState.completed" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-ok-sign"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>