<div ng-controller="AceCtrl">
    <div ng-show="segmentState.completed" class="content-card segment-finished-target frame" ng-click="reopen($index)">
        <p>{{segment.target}}</p>
    </div>
    <div ng-show="!segmentState.completed">
        <div class="content-card frame" ui-ace="{onLoad: aceLoaded}" ng-model="segment.target"></div>
        <div ng-show="isActive.active">
            <div class="pull-right">
                <div class="inline">
                    <button logger="clear-editor" ng-click="clearEditor()" tooltip="reject MT output" tooltip-placement="bottom" ng-disabled="segmentState.completed" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div class="inline">
                    <button logger="segment-finished" ng-click="segmentFinished($index)" ng-disabled="segmentState.completed" class="btn btn-primary cat-glyph"><span class="glyphicon glyphicon-ok-sign"></span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- working - test adding a simple typeahead here -->
    <!-- TODO: attach to the actual controller component -->
    <div ng-controller="TypeaheadCtrl">
    <!--<input type="text" ng-model="filterString" class="form-control">-->
    <!--<h3 typeahead="state for state in states | filter:$viewValue | limitTo:8">PIZZA</h3>-->
        <!--<h3 typeahead="state for state in states | filter:selected | limitTo:8">PIZZA</h3>-->
        <!-- TODO - there is something weird here with multiple ng-models on the same $scope -->
        <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" typeahead-append-to-body="true">
    <!-- TODO: there is a conflict between the input's ng-model, and the 'selected' ng-model for the typeahead
    <!--TODO: the typeahead pops up only when the $parsers/$renderers or $setViewValue fires-->
    <!-- TODO: we need to make the typeahead more general -- (fires on an event(?) -->
 <!--<input type="text" ng-model="asyncSelected" placeholder="Locations loaded via $http" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">-->
    <!--<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>-->

    </div>
</div>